#about-panel {
    padding:40px;
    background: #DA5B71;
    overflow: auto;
    border-bottom:1px solid #000;
    .picture {
        padding: 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    .logoImg {
        text-align: center;
        margin-bottom: 10px;
    }
}
