@import 'variables.less';

#about-panel {
    background:url('../images/compBG.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
    padding:40px 0;
    overflow: auto;
    border-bottom:1px solid @fifth;
    @media only screen and (min-width:760px) {
        padding:180px 40px 40px;
    }
    .picture {
        padding: 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    .logoImg {
        text-align: center;
        margin-bottom: 10px;
    }
    .btncont {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
            .yello{
            color:@secondary;
        }
}
