@primary:#DA5B71;
@primaryLight:#E0A1AC;
@secondary:#f8e4be;
@secondaryLight:#e5d699;
@third:#FAFAFA;
@font1: 'Open Sans', sans-serif;
@font2: 'Allerta Stencil', sans-serif;

.banner {
	background:@primary;
	width:100%;
	color:#fff;
	margin-top:150px;
	position:relative;
	@media only screen and (min-width: 766px) {
		margin-top: 170px;
	}
	@media only screen and (min-width: 991px) {
			height:772px;
	}
	.container {
			padding:40px;
	.text{
		visibility: hidden;
		position: relative;
		z-index: 2;
	}
	.image{
		visibility: hidden;
		position: relative;
		z-index: 1;
	.face {
		display:block;
		margin:0 auto;
		@media only screen and (max-width: 991px) {
			width:100%;
		}
	}
	}
}
	.cloud {
		position:absolute;
		bottom:0;
		width:100%;
	}
}
