@import 'variables.less';

.container-flex {
	padding: 40px;
}
.secondary-page {
	margin-top:107px;
}
#sitemap{
	padding:40px;
		margin-top:150px;
		@media only screen and (min-width: 760px) {
		margin-top: 170px;
	}
}
#services-form {
	 background:url('../images/zigs.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
	padding:40px 0;
	overflow: auto;
	    @media only screen and (min-width:760px) {
        padding:40px;
    }
}
.side-right{
	@media only screen and (min-width:760px) {
	border-left:1px solid @fourth;
}
img {
	max-width:350px;
	height:auto;
}
}
.ideas {
	text-align: center;
	font-family:@font2;
	text-transform: uppercase;
	color:#84dbff;
	margin-bottom: 40px;
}

.butters {
	display:inline-block;
}
