#contact-page-form {
	.ninja-forms-field {
		padding:20px;
	}
	#nf-field-14 {
    background: #0099cc;
    border: 1px solid #fff;
    border-radius:2px;
    padding: 10px 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: all .5s;
    &:hover {
        color: darken(#0099cc, 10%);
        background: #fff;
        border: 1px solid #0099cc;
        cursor: pointer;
    }
}

}