@primary:#DA5B71;
@primaryLight:#E0A1AC;
@secondary:#f8e4be;
@secondaryLight:#e5d699;
@third:#84614b;
@font1: 'Open Sans', sans-serif;
@font2: 'Allerta Stencil', sans-serif;

#contact-panel{
	border-bottom:1px solid #000;
	    padding:40px;
    background: @primary;
}
