.container-flex {
	padding: 40px;
}
.secondary-page {
	margin-top:107px;
}
.legal {
	color:#84614b;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	margin-top:10px;
	a {
		text-decoration: none;
		color:#84614b;
	}
}
#sitemap{
	padding:40px;
		margin-top:150px;
		@media only screen and (min-width: 766px) {
		margin-top: 170px;
	}
}
