@import 'variables.less';

#contact-panel{
	border-bottom:1px solid @fifth;
    background:url('../images/blocks.jpg');
    padding:40px 0;
        @media only screen and (min-width:760px) {
        padding:40px;
    }
    .contactCTA {
	text-align: center;
	font-family: @font1;
		color:@third;
	a {
				color:@third;
		&:hover {
			text-decoration:none;
		}
	}
}
}

.oneThird {
	width:100%;
	clear: none;
    display:inline-block;
	@media only screen and (min-width:760px) {
		    margin-left: 2.064102564102564%;
		width: 31.623931623931625%
	}
}
.oneHalf {
	width:100%;
		clear: none;
    display:inline-block;
	@media only screen and (min-width:760px) {
		    margin-left: 2.064102564102564%;
		width: 48.717948717948715%
	}
}
.oneFourth {
	width:100%;
		clear: none;
    display:inline-block;
	@media only screen and (min-width:760px) {
		    margin-left: 2.064102564102564%;
	width: 23.076923076923077%
}
}
