@primary:#3e3e3e;
@secondry:#E56B1A;

@font1: 'Open Sans', sans-serif;

body {
	background:#fff;
	font-family: @font1;
}
h1 {
	font-size: 5.254rem;
		font-weight:800;
		@media only screen and (min-width:600px) {
			font-size: 6.854rem;

		}
}

h2 {
	font-size: 3.236rem;
	font-weight:600;
			@media only screen and (min-width:600px) {
				font-size: 4.236rem;
			
		}
}
h3 {
	font-size: 2.618rem;
			@media only screen and (min-width:600px) {
			
		}
}
h4 {
	font-size: 1.618rem;
			@media only screen and (min-width:600px) {
			
		}
}
h5 {
	font-size:0.618rem;
}
.container{
	position:relative;
}