@primary:#DA5B71;
@primaryLight:#E0A1AC;
@secondary:#f8e4be;
@secondaryLight:#e5d699;
@third:#84614b;
@font1: 'Open Sans', sans-serif;
@font2: 'Allerta Stencil', sans-serif;

body {
	background:@primary;
	font-family: @font1;
}
.banner-title {
	font-size: 5.254rem;
		font-weight:800;
		font-family: @font2;
		color:@secondary;
		text-transform: uppercase;
		@media only screen and (min-width:600px) {
			font-size: 12.854rem;
		}
}
h1 {
	font-size: 3.236rem;
		font-weight:800;
		font-family: @font2;
		color:@secondary;
		text-transform: uppercase;
		@media only screen and (min-width:600px) {
			font-size: 7.2832rem;

		}
}

h2 {
	font-size: 3.236rem;
	font-family: @font2;
			color:@secondary;
			text-transform: uppercase;
			@media only screen and (min-width:600px) {
				font-size: 7.2832rem;

		}
}
h3 {
	color:@third;
	font-size: 1.82656rem;
			@media only screen and (min-width:600px) {
font-size: 3.82656rem;
		}
}
h4 {
	font-size: 1.618rem;
			@media only screen and (min-width:600px) {

		}
}
h5 {
	font-size:0.618rem;
}
.llc {
	font-size: 2.618rem;
	color:@third;
			@media only screen and (min-width:600px) {

		}
}
.container{
	position:relative;
}
.pageTitle{
	visibility: hidden;
}
.show {
	visibility: visible!important;
}
p:empty {
    display:none;
}
