footer {
    border-top:1px solid #000;
    background: #DA5B71;
    padding: 40px;
    text-align: center;
    color: #fff;
    p {
        color:#f8e4be;
    	    font-size: 2.618rem;
    font-weight: 800;
    line-height: 2.2rem;
    font-family:'Allerta Stencil', sans-serif;
    .name-footer {
text-transform: uppercase;
    }
    }
    .footerSocial {
        text-align: center;
        .soc {
        	background:transparent;
            .socialIcons {
                position: relative;
                ul {
                    text-align: center;
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0;
                }
            }
        }
    }
}
