.header-container {
	text-align: center;
	@media only screen and (max-width:600px) {
	text-align: left;
}
.logo {
	width:auto;
	max-height: 150px;
	display:block;
		margin:10px auto;
		float:none;
	@media only screen and (min-width:1200px) {
	float:left;

}

}
}

.navbar-header{
	display:inline-block;
}
