@import 'variables.less';

.header-container {
    text-align: center;
    @media only screen and (max-width: 600px) {
        text-align: left;
    }
    .logo {
        height: 85px;
        width: auto;
        display: block;
        margin: 10px auto;
        float: none;
        -moz-transition: height .2s ease;
    -webkit-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
        @media only screen and (min-width: 767px) {
                    height: 120px;
        }
        @media only screen and (min-width: 1200px) {
            float:left;
        }
    }
}
.navbar-header {
    display: inline-block;
}

#page-nav-sticky-wrapper {
    z-index: 999;
    position:relative;
    &.is-sticky{
        .navbar-inverse {
                height:85px;
    @media only screen and (min-width:500px) {
        height:auto;
    }
            .header-container{
                .logo {
                    height:100px;
                    @media only screen and (max-width:500px) {
                        height:65px;
                    }
                }
            }
        }
    }
}


