@primary: #DA5B71;
@primaryLight: #E0A1AC;
@secondary: #f8e4be;
@secondaryLight: #e5d699;
@third: #84614b;
@font1: 'Open Sans',
sans-serif;
@font2: 'Allerta Stencil',
sans-serif;

.navbar-inverse {
    background-color: @primary;
    border-color: #080808;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    .navbar-toggle {
        border-color: #fff;
        &:focus {
            background-color: @primary;
        }
        .icon-bar {
            background-color: @secondary;
        }
    }
    .navbar-nav {
        @media only screen and (min-width: 600px) {
            text-align: center;
            float: none;
        }
        @media screen and (min-width: 1200px) {
            margin: 45px 30px 0 30px;
            position: relative;
            transform: translateY(25%);
        }
        li {
            list-style-type: none;
            display: block;
            font-size: 2.618rem;
            font-family: @font2;
            text-transform: uppercase;
            @media only screen and (min-width: 600px) {
                &:after {
                    font-family:'fontAwesome';
                    content: '\f005';
                    font-size: 10px;
                    color: @primaryLight;
                    position: absolute;
                    top: 5px;
                    left: -3px;
                }
                &:first-of-type {
                    &:after {
                        content: '';
                    }
                }
            }
            @media only screen and (max-width:1200px) {
                margin: 15px 0;
            }
            a {
                color: @secondary;
                padding-top: 10px;
                padding-bottom: 10px;
                line-height: 1px;
                transition: all .5s;
                &:hover {
                    color: @third;
                }
            }
            @media only screen and (min-width:600px) {
                display: inline-block;
            }
        }
    }
}

.navbar-toggle {
    position: absolute;
    left: 20px;
    top: 20px;
}

.navbar-collapse {
    text-align: left;
}
.navbar-nav>li {
    float: none;
    @media only screen and (min-width: 600px) {
        float: none;
    }
    @media only screen and (min-width:1200px) {
        float: left
    }
}
