@import 'variables.less';

#services{
	    padding:40px 0;
    background:linear-gradient(0deg, @fourth, @third 75%);
    position:relative;
    margin-top:-10px;
     &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 8vw solid @fourth;
    border-right: 50vw solid transparent;
    border-left: 49vw solid transparent;
    z-index: 200;
}
      @media only screen and (min-width:990px) {
        margin-top:0;
    }
    h1 {
    	color:@fourth;
    	span {
    		color:@primary;
    	}
    }
        .liner {
        border-bottom: 3px solid @fourth;
        text-transform: uppercase;
        font-size: 1.9rem;
        color: @fourth;
        font-weight: 700;
        display: inline-block;
    }

}
 #build{
 	background:url('../images/yello-comp.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding:40px 0;
@media only screen and (min-width:760px) {
		padding: 180px 0 180px;
	}
	h2 {
		color:@primary;
	}
	h3 {
		color:@fourth;
	}
 }
 #design {
 	background:@third;
 	position:relative;
    padding: 95px 0 40px;
 	&:after {
    	clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  @media only screen and (min-width:760px) {
    	    -webkit-background-size: 3000px 182px;
    background-size: 3000px 182px;
    background-position: center bottom;
    background-repeat: no-repeat;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    visibility: visible;
    z-index: 10;
    background-image: url(../images/curve-features-white.svg);
    bottom: -181px;
    height: 182px;
    }
  }
 	h2 {
 		color:@fourth;
 	}
 	h3 {
 		color:@primary;
 	}
 	@media only screen and (min-width:760px) {
		padding: 180px 0 40px;
	}
 }
 #maintenance{
	background:@primary;
border-top:1px solid @fifth;
position:relative;
padding:40px 0;
      @media only screen and (min-width:760px) {
      padding:0;
    }
    &:before {
            clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    @media only screen and (min-width:760px) {
        -webkit-background-size: 3000px 108px;
    background-size: 3000px 108px;
    background-position: center bottom;
    background-repeat: no-repeat;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    visibility: visible;
    z-index: 10;
    background-image: url(../images/curve-features-top-red.svg);
    height: 108px;
    top: -108px;
    }
  }
 &:after {
        clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  @media only screen and (min-width:760px) {
            -webkit-background-size: 3000px 182px;
    background-size: 3000px 182px;
    background-position: center bottom;
    background-repeat: no-repeat;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    visibility: visible;
    z-index: 10;
    background-image: url(../images/curve-features-bottom.red.svg);
    bottom: -181px;
    height: 182px;
    }
  }
}
 #SEO{
 		background: url(../images/compDesk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 padding:40px 0;
    overflow: auto;
    @media only screen and (min-width:760px) {
        padding:180px 40px 180px;
    }
    h2 {
color:@fourth;
    }
    h3 {
color:@primary;
    }
 }

#services-form{
	padding:40px 0;
	    @media only screen and (min-width:760px) {
        padding:180px 40px 40px;
    }
	h2 {
	text-align: center;
	color:@secondary;
}
p {
	text-align: center;
	color:@third;
}
}

#more {
    background:@fourth;
    position:relative;
    padding:40px;
    &:after{
        content: '';
    position: absolute;
    bottom:100%;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 8vw solid @fourth;
    border-right: 50vw solid transparent;
    border-left: 0vw solid transparent;
}
&:before {
            content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 8vw solid @fourth;
    border-right: 0vw solid transparent;
    border-left: 50vw solid transparent;

}
.whatNext {
    margin: 0;
    padding-top:20px;
    font-size: 3.236rem;
            @media only screen and (min-width:600px) {
            font-size: 6.5832rem;
        }
}
.conts{
    margin-top:20px;
    h3{
        margin-top: 0;

    }
}
.side-right{
    @media only screen and (min-width:760px) {
    border-left:1px solid @secondary;
}
}
}

.servicesImg{
    display:none;
    @media only screen and (min-width:760px) {
    display:inline-block;
    height:350px;
    width:auto;
}
}
