@import 'variables.less';

#tech-panel {
    background:@fourth;
    padding: 40px 0;
    border-bottom:1px solid @fifth;
    position:relative;
        @media only screen and (min-width:760px) {
        padding:40px;
    }
    &:after{
        content: '';
    position: absolute;
    bottom:100%;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 8vw solid @fourth;
    border-right: 50vw solid transparent;
    border-left: 0vw solid transparent;
}
&:before {
            content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-bottom: 8vw solid @fourth;
    border-right: 0vw solid transparent;
    border-left: 50vw solid transparent;

}
    .cta {
        font-size: 3.236rem;
        line-height: 3.5rem;
        font-weight: 800;
        color: #0099cc;
        margin-bottom: 10px;
    }
    .ctanext {
        font-size: 2.618rem;
        font-weight: 800;
        line-height: 2.9rem;
    }
    .tech-sort {
        background: #0099cc;
        color: @third;
        font-size: 1.618rem;
        font-weight: 800;
        line-height: 2.2rem;
        border:1px solid @third;
        border-radius:2px;
        padding: 20px;
        margin: 2px 0;
        display: inline-block;
        transition: all .5s;
        &:hover {
            color: darken(#0099cc, 10%);
            background:@third;
            border:1px solid #0099cc;
            cursor:pointer;
        }
    }
    .button-group {
    margin-top:20px;
    }
    .tech {
        display: inline-block;
        text-align:center;
        @media only screen and (min-width:767px) {
                    margin: 10px 0;
        }
        .icon {
            width:45px;
                    height:auto;
            @media only screen and (min-width:767px) {

        width:85px;
    }
        }
        .tech-exp {
            display: block;
                font-size: 1.418rem;
            text-align: center;
            color:@secondary;
            @media only screen and (min-width:767px) {
                font-size: 1.618rem;
            }
        }
    }
    .techies {
        text-align: center;
    color:@primary;
}
h3 {
    text-align: center;
}
}

@media (min-width: 1200px){
.col-xg-1 {
    width: 11.1111111%;
}
}
